<table *ngIf="pedidos" style="border :solid 1px;">
  <tr>
    <th>codigo</th>
    <th>fecha</th>
    <th>trimestre</th>
    <th>direccion</th>
    <th>tipo de entrega</th>
    <th>cliente</th>
    <th>apellido1</th>
    <th>apellido2</th>
    <th>DNI</th>
    <th>detalles</th>

  </tr>
  <tr *ngFor="let pedido of pedidos">
    <td>{{pedido.id}}</td>
    <td>{{pedido.fecha | date: 'dd/MM/yyyy'}}</td>
    <td>{{pedido.fecha | trimestre}}</td>
    <td>{{pedido.direccion.direccion}}</td>
    <td>{{pedido.tipoDeEntrega}}</td>
    <td>{{pedido.cliente.nombre }}</td>
    <td>{{pedido.cliente.apellido1 }}</td>
    <td>{{pedido.cliente.apellido2 }}</td>
    <td>{{pedido.cliente.dni }}</td>
    <td><a [routerLink]="['/ficha-detalle-pedido', pedido.id]">ver más</a></td>    
  </tr>
</table>
