<h1>Administración de pedidos</h1>
<nav>
  <ul>
    <li><a href="" routerLink="home" >Home</a></li>
    <li><a href="" routerLink="listado-clientes" >listado-clientes</a></li>
    <li><a href="" routerLink="listado-pedidos" >listado-pedidos</a></li>
    <li><a href="" routerLink="listado-productos" >listado-productos</a></li>
    <li><a href="" routerLink="alta-pedido" >alta-pedido</a></li>
    <li><a href="" routerLink="alta-cliente">alta-cliente</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
