<h2>Alta pedido</h2>
<br>
<form [formGroup]= "pedidoForm"  >
  
  <label>fecha: </label><input type="text" formControlName='fecha'><br>
  <label>direccion: </label><input type="text" formControlName='direccion'><br>
  <label>poblacion: </label><input type="text" formControlName='poblacion'><br>
  <label>codigoPostal: </label><input type="text" formControlName='codigoPostal'><br>
  <label>provincia: </label><input type="text" formControlName='provincia'><br>
  <label>pais: </label><input type="text" formControlName='pais'><br>
  <label>tipoDeEntrega: </label>
  <select formControlName='tipoDeEntrega'>
    <option value = 'STANDARD'>STANDARD</option>
    <option value = 'EXPRESS' >EXPRESS</option>
  </select><br>
  <label>dni: </label><input type="text" formControlName='dni'><br>

  <div class="lineasDetalle" formArrayName="lineasDetalle">   <label>lineas Detalle</label>
    <div class="lineaDetalle" [formGroupName]="i" *ngFor="let lineaDetalle of pedidoForm.controls['lineasDetalle'].controls; let i = index">
      <label>codigoProducto: </label><input type="text" formControlName='codigoProducto'><br>
      <label>codigoProveedor: </label><input type="text" formControlName='codigoProveedor'><br>
      <label>cantidad: </label><input type="text" formControlName='cantidad'><br>
      <button (click)="eliminarLinea(i)">Eliminar linea</button>
    </div>
    <button (click)="annadirLinea()">Añadir linea</button>
  </div>
  <button (click)="create()">Crear</button>          
</form> 

  



