<h2>Alta pedido</h2>
{{pedido | json}}
<br>
<form [formGroup]= "pedidoForm" (submit)=create()>
    <input type="text" formControlName="codigo" /><br>
    <input type="text" formControlName="fecha" /><br>
    <input type="text" formControlName="tipoDeEntrega" /><br>
    <input type="text" formControlName="cliente" /><br>
    <input type="text" formControlName="detalle" /><br>
    <input type="text" formControlName="direccion" /><br>
    <input type="text" formControlName="poblacion" /><br>
    <input type="text" formControlName="codigoPostal" /><br>
    <input type="text" formControlName="provincia" /><br>
    <input type="text" formControlName="pais" /><br>
    <button type="submit">Crear</button>          
  </form> 

  

<button (click)= crear()>CREAR</button>


