/*
- - - - basic prettyfying css - - - */
table {
    font-family: sans-serif;
    margin-left: 50px;
  }
  th, td {
    padding: 10px;
  }
  
  thead th {
    text-align:left;
  }
  tbody tr:nth-of-type(odd) {
    background: #e0e0e0;
  }
  
  
  /* 
  - - - Responsivise at breakpoint - - - - */
  @media (max-width: 600px) {
          /* make tds into single column full width rows */
              tr,td {
                  display: block;
                  width: 100%;
           padding: 5px;
              }  
    
         /* hide table head */
        thead {
                  display: none;
            }
    
            /* place data attribute before td as a label */
          td[data-header-title]:before {
                  content: attr(data-header-title)':';
                  display: block;
            color: #666;  
            /* labels will stack by default but optionally float to left */
            float:left;
            width:100px;
          
        }
        tbody {
            border-collapse: collapse;
          display:block;
        }
        tbody tr {
          margin-bottom:20px;
          border-bottom: 10px solid #222222;
          display:block;
       }
        /* unset background used on desktop view */
       tbody tr:nth-of-type(odd) {
          background: transparent;
        }
        tr td:nth-of-type(odd) {
            background:#eee;
        }
  /* Lazy browser reset */

* {
  margin: 0;
  padding: 0;
}

nav {
  margin: 50px auto;
  width: 500px;
  height: 40px;
}

/* list styles */
ul {
  width: 500px;
  margin: 0px auto;
  overflow: auto;
  list-style: none;
}

li {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight:300;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #999;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #888;
  
  /* transitions & animations
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease; */
}

li a:hover {
  color: #333;
}

li.active a {
  color: #F15A24;
  font-weight: normal;
}
}

/* Lazy browser reset */
  
  nav {
    margin: 50px auto;
    width: 80%;
    height: 40px;
  }
  
  /* list styles */
  ul {

    margin: 0px auto;
    overflow: auto;
    list-style: none;
  }
  
  li {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight:300;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #999;
  }
  
  li:last-child {
    border: none;
  }
  
  li a {
    text-decoration: none;
    color: #888;
    
    /* transitions & animations
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease; */
  }
  
  li a:hover {
    color: #333;
  }
  
  li.active a {
    color: #F15A24;
    font-weight: normal;
  }
    
  h1{
    font-family: Open Sans, sans-serif;
    font-size: 25px;
    font-weight:300;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #999;
  }
  