<h2>Alta cliente</h2>
<div class="basic-container">
    
    <mat-form-field appearance="fill">
        <mat-label>dni</mat-label>
        <input matInput type="text" [(ngModel)]="cliente.dni" />
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>nombre</mat-label>
        <input matInput type="text" [(ngModel)]="cliente.nombre" />
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>apellido1</mat-label>
        <input matInput type="text" [(ngModel)]="cliente.apellido1" />
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>apellido2</mat-label>
        <input matInput type="text" [(ngModel)]="cliente.apellido2" />
    </mat-form-field> <br>
    <section >
        <mat-checkbox [(ngModel)]="cliente.tarjetaGold">tarjeta gold</mat-checkbox>
    </section>
    <button mat-button color="primary" (click)= altaCliente()>CREAR</button>
    <p *ngIf=clienteAnterior>El cliente {{clienteAnterior | json}} creado</p>
</div>
